:root > * {
  --md-code-hl-string-color: #FF0000;
}

.md-typeset hr {
  border-top: 1px solid #bfbfbf;
  border-bottom: 0px;
  margin: 2em 0;
}

img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* default theme */
[data-md-color-scheme="default"] .md-typeset p > code {
  color: #c74ca4;
  background-color: #f9f2f4;
}
/* Dark theme */
[data-md-color-scheme="slate"] .md-typeset p > code {
  color: #ffb6db;
  background-color: #2a1e23;
}
/* default theme */
[data-md-color-scheme="default"] .md-typeset td > code {
  color: #c74ca4;
  background-color: #f9f2f4;
}
/* Dark theme */
[data-md-color-scheme="slate"] .md-typeset td > code {
  color: #ffb6db;
  background-color: #2a1e23;
}

/* default theme */
[data-md-color-scheme="default"] .md-typeset table tr:nth-child(even) {
  background-color: #f5f5f5;
}
[data-md-color-scheme="slate"] .md-typeset table tr:nth-child(even) {
  background-color: #272a35;
}

.md-typeset h3 {
  color: #009485;
}
